version: "3.8"

services:
  mongodb:
    image: mongo:8.2.3-noble
    container_name: mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

  neo4j:
    image: neo4j:2025.12.1
    container_name: neo4j
    restart: unless-stopped
    ports:
      - "7474:7474"   # HTTP (Neo4j Browser)
      - "7687:7687"   # Bolt
    environment:
      NEO4J_AUTH: neo4j/password
    volumes:
      - neo4j_data:/data

volumes:
  mongodb_data:
  neo4j_data:
